.footer {
    background-color: #7A9A01;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    height: 10vh;
    color: white;
    box-shadow: 0px -2px 10px gray;
}

.footer .left-space {
    width: 80px;
}

.footer .direitos {
    flex: 1;
    text-align: center;
}

.footer .direitos p {
    text-shadow: 0px 1px 20px gray;
}

.footer .icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer .icon-container h3 {
    font-size: 10px;
    text-shadow: 0px 1px 20px gray;
}

.footer .icon-container .icon {
    color: white;
    font-size: 30px;
}

@media (max-width: 600px) {
    .footer {
        background-color: #7A9A01;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: auto;
        color: white;
    }

    .footer .direitos {
        text-align: center;
    }

    .footer .direitos p {
        font-size: 11px;
    }

    .footer .icon-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2px;
    }

    .footer .icon-container h3 {
        font-size: 8px;
    }

    .footer .icon-container .icon {
        font-size: 15px
    }
}
